<div class="gis_NavToolsDijit">
    <div class="formContainer">
        <i title="Zoom In" data-dojo-attach-event="onClick:zoomIn" class="fa fa-search-plus fa-lg"></i>
        <i title="Zoom Out" data-dojo-attach-event="onClick:zoomOut" class="fa fa-search-minus fa-lg"></i>
        <i title="Full Extent" data-dojo-attach-event="onClick:fullExtent" class="fa fa-arrows-alt fa-lg"></i>
        <i title="Previous Extent" data-dojo-attach-event="onClick:prevExtent" class="fa fa-arrow-left fa-lg"></i>
        <i title="Next Extent" data-dojo-attach-event="onClick:nextExtent" class="fa fa-arrow-right fa-lg"></i>
        <i title="Pan" data-dojo-attach-event="onClick:pan" class="fa fa-hand-o-up fa-lg"></i>
        <i title="Deactivate Navigation Tool" data-dojo-attach-event="onClick:deactivate" class="fa fa-ban fa-lg" style="color:red"></i>
        <span title="Seperator">|</span>
        <i title="Legend" data-dojo-widget="legend" data-dojo-attach-event="onClick:toggleWidget" class="fa fa-th-list fa-lg"></i>
        <i title="Bookmarks" data-dojo-widget="bookmarks" data-dojo-attach-event="onClick:toggleWidget" class="fa fa-bookmark fa-lg"></i>
        <i title="Identify" data-dojo-widget="identify" data-dojo-attach-event="onClick:toggleWidget" class="fa fa-info fa-lg"></i>
        <i title="Draw" data-dojo-widget="draw" data-dojo-attach-event="onClick:toggleWidget" class="fa fa-pencil fa-lg"></i>
        <i title="Measurement" data-dojo-widget="measurement" data-dojo-attach-event="onClick:toggleWidget" class="fa fa-magic fa-lg"></i>
        <i title="Print" data-dojo-widget="print" data-dojo-attach-event="onClick:toggleWidget" class="fa fa-print fa-lg"></i>
        <i title="Google Street View" data-dojo-widget="streetview" data-dojo-attach-event="onClick:toggleWidget" class="fa fa-map-marker fa-lg"></i>
        <!--button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoominIcon',showLabel:true"
            data-dojo-attach-event="onClick:zoomIn">Zoom In</button>
            <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomoutIcon',showLabel:true"
                    data-dojo-attach-event="onClick:zoomOut">Zoom Out</button>
            <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomfullextIcon',showLabel:true"
                    data-dojo-attach-event="onClick:fullExtent">Full Extent</button>
            <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomprevIcon',showLabel:true"
                    data-dojo-attach-event="onClick:prevExtent">Prev Extent</button>
            <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomnextIcon',showLabel:true"
                    data-dojo-attach-event="onClick:nextExtent">Next Extent</button>
            <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'panIcon',showLabel:true"
                    data-dojo-attach-event="onClick:pan">Pan</button>
            <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'deactivateIcon',showLabel:true"
                    data-dojo-attach-event="onClick:deactivate">Deactivate</button-->

    </div>
</div>
