<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="false">
  <serverUrls>
    <serverUrl url="https://elvgs03.dmz.ecl.local:6443"
               matchAll="true" username="cacgis" password="TknUR7peUWuec5_n83T-"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
